.parent {
  background-color: #0fa3b1;
  color: white;
  padding: 20px;
  border: 5px solid #2f4858;
  border-radius: 20px;
  margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

:root {
  background-color: #fbe7b9;
}